.background {
  min-height: 100vh;
  width: 100%;
  transition: all 0.3s ease;
}

.background-bg {
  background-image: url("/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.background-gradient {
  background-color: brown;
}

.background {
  position: relative;
  width: 100%;
  min-height: 100vh;
}

.marquee {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  pointer-events: none;
}

.cloud-row {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  gap: 200px;
}

.row1 {
  bottom: 10%;
  animation: moveLeft 80s linear infinite;
}

.cloud-row img {
  height: auto;
  opacity: 0.6;
}

.row1 img {
  transform: scale(0.8);
}

@keyframes moveLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
